body {
  font-family: Candara, Verdana, sans-serif;
  padding: 10px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-top: 20px;
}

.lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.lista li {
  margin-bottom: 5px;
  font-weight: 400;
}

.tabell1 {
  background-color: #ffcccc;
  width: 50%;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid black;
}

.tabell1 td {
  padding: 5px 10px;
}

.tabell1 th {
  border: 1px solid black;
}

.tabell2 {
  background-color: #ffcc99;
  width: 50%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid black;
}

.tabell2 td,
.tabell2 th {
  padding: 5px 10px;
}

.tabell2 th {
  border: 1px solid black;
}

.tabell1 caption,
.tabell2 caption {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.tabell2 thead th {
  text-align: left;
  font-weight: bold;
}

.foot {
  font-style: italic;
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

#source {
  color: #009900;
  font-size: 14px;
}

#source a {
  color: #009900;
  text-decoration: none;
}

#source {
  margin: 0;
  padding: 0;
}

.source-container {
  display: flex;
  justify-content: end;
  column-gap: 10px;
  width: 100%;
  padding-top: 10px;
}

#source a:hover {
  color: white;
  background-color: #009900;
  text-decoration: none;
}
